<!DOCTYPE html>
<html ng-app="alexa" ng-controller="AlexaController">
  <head>
    <title>Violet</title>

    <link rel="stylesheet" href="../bootstrap-yeti.min.css">
    <style type="text/css">
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
    .tab-content li { margin-top: 1em; }
    </style>
    <script type="text/javascript" src="../jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      // Add minus icon for collapse element which is open by default
      $(".collapse.in").each(function() {
        $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
      });

      // Toggle plus minus icon on show hide of collapse element
      $(".collapse").on('show.bs.collapse', function() {
        $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
      }).on('hide.bs.collapse', function() {
        $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
      });
    });
    </script>
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="../templates-json.js"></script>

    <script>
      function clone(o) {
        return JSON.parse(JSON.stringify(o));
      }

      // For Angular
      var app = angular.module('alexa', []);
      app.controller('AlexaController', function($scope, $http) {
        $scope.request = {};
        $scope.response = null;
        $scope.responseSpeech = null;
        $scope.requestAndIntent = null;
        $scope.session = {};
        $scope.intent = null;

        $scope.changeRequestAndIntent = function() {
          var requestType = '';
          if ($scope.requestAndIntent === '') {
            $scope.request = {};
            return;
          }
          var intentNdx = $scope.requestAndIntent.indexOf(':');
          if (intentNdx == -1) {
            // not an intentRequest
            requestType = $scope.requestAndIntent;
            $scope.request = clone($scope.templates[requestType]);
            $scope.request.session.attributes = $scope.session;
            return;
          }
          requestType = $scope.requestAndIntent.substr(0, intentNdx);
          var intent = $scope.requestAndIntent.substr(intentNdx+1);
          $scope.request = clone($scope.templates[requestType]);
          $scope.request.session.attributes = $scope.session;
          $scope.request.request.intent.slots = {};
          $scope.request.request.intent.name = intent;
        }

          // get interactionModel
          $scope.interactionModel={};
          var svcPath = location.origin;
          if (location.pathname !== '/') svcPath += location.pathname;
          $http.get(`${svcPath}/alexa?schema=true&schemaType=askcli`)
            .then(function onSuccess(response) {
              // console.log(`URL Request: ${location.origin}${location.pathname}/alexa?schema=true&schemaType=askcli`);
              console.log('Received from askcli: ', response.data);
              $scope.interactionModel=response.data.interactionModel;
              // get custom slot types
              response.data.interactionModel.languageModel.types.forEach(cst=>{
                cst.valuesStr = cst.values.map(v=>{return v.name.value}).join(', ');
              });
              $scope.customSlotTypes = response.data.interactionModel.languageModel.types;
            }).catch(function onError(error) {
              console.log(error);
              console.log(error.message);
            });


        $scope.post = function() {
          if (Object.keys($scope.request).length !== 0) {
            var svcPath = location.origin;
            if (location.pathname !== '/') svcPath += location.pathname;
            $http.post(`${svcPath}/alexa`, $scope.request)
              .then(function onSuccess(response) {
                $scope.response = response.data;
                // Copy session variables
                if ($scope.response) {
                  if ($scope.response.response && $scope.response.response.outputSpeech) {
                    $scope.responseSpeech = $scope.response.response.outputSpeech.ssml;
                  } else {
                    $scope.responseSpeech = 'Error - No outputSpeech';
                  }
                  if ($scope.response.sessionAttributes) {
                    $scope.session = $scope.response.sessionAttributes;
                    $scope.request.session.attributes = $scope.session;
                  }
                }
              })
              .catch(function onError(error) {
                alert(error.message);
              });
            } else {
              alert("Error: Cannot send an empty request object. Please select a request type.");
            }
        }

        $scope.getIntents = function() {
          if (!$scope.interactionModel.languageModel) return null;
          return $scope.interactionModel.languageModel.intents;
        }
        $scope.getIntent = function() {
          if (!$scope.interactionModel.languageModel) return null;
          try {
            var intents = $scope.interactionModel.languageModel.intents;
            for (var i = 0; i < intents.length; i++) {
              var intent = intents[i];
              if (intent.name == $scope.request.request.intent.name) {
                return intent;
              }
            };
            return null;
          } catch(e) { return null; }
        };

        $scope.templates = templates;
      });
    </script>

    <style>
    body {
      padding-top: 50px;
    }
    body > .container {
      margin-top: 6px;
    }
    .glyphicon {
      margin-right: 2px;
    }
    .panel-group, #requestAndIntent {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    .code {
      white-space:pre;
      font-family:monospace;
      font-size: 0.9em;
      border:1px solid #666;
      /*display:inline-block;*/
      padding:5px;
      min-width:400px;
      max-height:200px;
      min-height:25px;
      overflow: scroll;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Violet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#test" data-toggle="tab">Test</a></li>
            <li><a href="#register-alexa" data-toggle="tab">Amazon Alexa</a></li>
            <li><a href="#register-dialogflow" data-toggle="tab">Google Dialogflow</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="test">
          <p>Use the below to test your script. This is a simple testing utility to POST to your endpoint and simulate an incoming request.</p>

          <h3>Request</h3>
          <div>
            <div id="requestAndIntent">
              Intent:
              <select id="requestIntent_select" ng-change="changeRequestAndIntent()" ng-model="requestAndIntent">
                <option value=""></option>
                <option value="LaunchRequest">&lt;&lt;Launch&gt;&gt;</option>
                <option ng-repeat="intent in getIntents()" value="IntentRequest:{{intent.name}}">{{intent.name}}: {{intent.samples.toString().substr(0,80)}}</option>
                <option value="SessionEndedRequest">&lt;&lt;End&gt;&gt;</option>
              </select>
            </div>

            <div id="slots" ng-show="getIntent().slots.length">
              Slot Values: <br>
              <div id="slotvalues" style="margin:5px;border:1px solid #ccc;display:inline-block;">
                <div ng-repeat="slot in getIntent().slots">
                  {{slot.name}} : <input ng-change="request.request.intent.slots[slot.name].name=slot.name" ng-model="request.request.intent.slots[slot.name].value" style="width:100px;">
                </div>
              </div>
            </div>
          </div>

          <div id="accordion" class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#rawRequestData"><span class="glyphicon glyphicon-plus"></span>Raw</a>
                </h4>
              </div>
              <div id="rawRequestData" class="panel-collapse collapse">
                <div class="panel-body">
                  <div id="request" class="code" contenteditable="true">{{request|json}}</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <input type="button" value="Send Request" ng-click="post()">
          </div>

          <h3>Response</h3>
          <div ng-show="response">
            <p>{{responseSpeech}}</p>
            <div id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#rawResponseData"><span class="glyphicon glyphicon-plus"></span>Raw</a>
                  </h4>
                </div>
                <div id="rawResponseData" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="response" class="code">{{response|json}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3>Session</h3>
          <div ng-show="session">
            <div id="accordion" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#rawSessionData"><span class="glyphicon glyphicon-plus"></span>Raw</a>
                  </h4>
                </div>
                <div id="rawSessionData" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="session" class="code">{{session|json}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="register-alexa">
          <p>Your Violet Voice App/Conversation needs to be registered so that Alexa knows about it.</p>

          <h1>Registering</h1>

          <h2>1. Go to Amazon Dev URL</h2>

          <p>You can find it here: <a href="https://developer.amazon.com/alexa/console/ask">https://developer.amazon.com/alexa/console/ask</a></p>

          <p style="font-style:italic">
            If you don't have an account, register as a new developer.
          </p>
          <p style="font-style:italic">
            Amazon Developer Accounts are different from Amazon Web Services accounts -
            the former are around capabilities where Amazon might need to pay
            you while the later focus on on capabilities where Amazon might need
            to charge you.
          </p>

          <h2>2. Create a new Skill</h2>

          <p>
            Skills are created by going to the 'Your Alexa Consoles' menu
            option, clicking on Skills, and then 'Create Skill'. After that
            you will need to enter a name for the skill, click on next, and select
            to create a custom skill.
          </p>

          <h2>3. Declare the Interaction Model</h2>
          <p>
            On the left side of the navigation, under 'Interaction Model', click
            on 'JSON Editor' (it is the last item). Copy the value below and
            'Save Model'.
          </p>
          <div>
            <div id="interactionModel" class="code">{{interactionModel|json}}</div>
          </div>

          <h2>4. Skill Information</h2>

          <p>Beyond the interaction model there are a few key settings to be filled:</p>
          <ol>
            <li>On the left side of the navigation, under 'Interaction Model', click
            on 'Invocation'. Enter an invocation name click on 'Save Model' - <i>this is the name that you will call your script when you launch Alexa</i></li>
            <li>On the left side of the navigation, click on 'Endpoint'.
            <br><br><i>If you have deployed this service on Heroku, select 'HTTPS',
              enter url:
              <script>
                var myUrl = window.location.href;
                if (myUrl.endsWith('#')) myUrl = myUrl.substr(0, myUrl.length-1);
                document.write(myUrl + '/alexa');
              </script>
              and certificate type: 'My development endpoint is a sub-domain
              of a domain that has a wildcard certificate from a certificate
              authority'.</i>
            <br><br>Once you have filled the values out click on 'Save Model'</li>
            <li>Build your Model by clicking on 'Custom' on the left side of the
              navigation, and selecting 'Build Model' on the right side.</li>
          </ol>


          <h2>5. Testing</h2>

          <p>
            Once the model has been built you can now test the skill. You will
            need to click on the 'Test' tab and enable testing.
          </p>
          <p>
            You only need to Launch the skill when you want others to be able to
            discover it without following the above steps.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="register-dialogflow">
          <p>Your Violet Voice App/Conversation needs to be registered so that
            Dialogflow knows about it.</p>

          <h1>Registering</h1>

          <h2>1. Go to Dialogflow Console</h2>

          <p>You can find it here: <a href="https://console.dialogflow.com/">https://console.dialogflow.com/</a></p>

          <h2>2. Create an Agent</h2>

          <p>
            Agents are created easily by clicking on the 'Create Agent' button
            on the left navigation, entering a name for the agent and clicking
            on next.
          </p>
          <p style="font-style:italic">
            If the agent creation fails, please try verifying that you have a
            Google Cloud account setup (you can access it here:
            <a href="https://console.cloud.google.com/">https://console.cloud.google.com/</a>)
          </p>

          <h2>3. Upload the Agent Configuration</h2>
          <p>
            On the left side of the navigation, next to the project name, click
            on the gear symbol to get the agent configuration information. From
            there click on the 'Export and Import' tab and click on the 'Import
            From Zip' button. You can access the zip file here:
            <script>
              var myUrl = window.location.href;
              if (myUrl.endsWith('#')) myUrl = myUrl.substr(0, myUrl.length-1);
              document.write(`${myUrl}googleConfig`);
            </script>
          </p>

          <h2>4. Test on Dialogflow</h2>

          <p>You should now be ready to test the agent on Dialogflow. To do that:</p>
          <ol>
            <li>Verify that the Violet endpoint has been configured correctly. To
              do this, go to 'Fulfilment' on the left side of the navigation, and
              make sure that the Webhook is enabled and that the Url is:
              <script>
                var myUrl = window.location.href;
                if (myUrl.endsWith('#')) myUrl = myUrl.substr(0, myUrl.length-1);
                document.write(`${myUrl}google`);
              </script>
            </li>
            <li>Test the agent on the right side in Dialogflow.</li>
          </ol>


          <h2>5. Testing for Google Home / Actions on Google</h2>

          <p>Dialogflow Agents are used to have Voice Apps running in Google Home.
            These are done by creating Actions on the Google Assistant. To do
            this:</p>
          <ol>
            <li>Click on 'Integrations' on the left side of the navigation, and
              then click on 'Google Assistant'. Once there, click the 'Manage
              Assistant App'.
            </li>
            <li>Once the 'Actions on Google' console is open, you can click
              on 'Simulator' on the left navigation to test the Voice App there.</li>
            <li>Test on your Google Home or Google's Mobile app, by going
              in the 'Actions on Google' console and onto the 'Simulator' page,
              then make sure to click on the button the top-right that enables
              'Testing on Device'.</li>
          </ol>

        </div>
      </div>


    </div><!-- /.container -->

  </body>
</html>
